/* COLORS */
$background-color: #F6F8FA;
$top-bar-color: #1F8DFB;
$component-background-color: #FBFBFC;
$border-color: #D0DAE4;
$button-blue-color: #10A3F4;
$button-red-color: #F43E15;
$button-grey-color: #F7F8FB;
$button-grey-color-hover: #f4f5f8;
/* FONTS */
$font-family: "Roboto", sans-serif;
$font-weigh-light: 300;
$font-weigh-regular: 400;
$font-weigh-medium: 500;
$font-size-medium: 18px;
$font-size-small: 16px;
$line-height-medium: 20px;
$line-height-small: 16px;
/* FONT COLORS */
$top-bar-font-color: #F4F6FA;
$button-font-color: #F9FBFD;
$standard-font-color: #60768C;
$table-header-font-color: #889BAE;
$table-element-font-color: #495960;
$footer-font-color: #56676F;
/* BORDER */
$border-style: solid 2px $border-color;
$border-radius-big: 12px;
$border-radius-medium: 4px;
$border-radius-small: 2px;
/* SPACING */
$spacing-standard: 40px;